<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
      integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"
      integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
      integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/product-detail.css" />
    <script src="../static/js/products-detail.js"></script>
    <title>Add Product</title>
  </head>
  <body>
    <div class="ui visible sidebar inverted vertical menu">
      <a class="item">
        <div class="ui small image">
          <img src="../static/asset/Raccoon.png" alt="" />
        </div>
      </a>
      <a href="/home" class="item">
        <h4><i class="home icon"></i> Home</h4>
      </a>
      <a href="/products" class="active item">
        <h4><i class="archive icon"></i> Products</h4>
      </a>
      <a href="/orders" class="item">
        <h4><i class="cart plus icon"></i> Orders</h4>
      </a>
    </div>
    <div class="container">
      <!-- Breadcumb -->
      <div class="row">
        <div class="sixteen wide column">
          <h2 id="breadcumb">
            <a href="/products">Products</a>
            <i class="angle right icon"></i>
            Product Detail
          </h2>
        </div>
      </div>

      <!-- Add products form -->
      <div class="row">
        <div class="column">
          <form class="ui form">
            <div class="ui stackable two column grid">
              <!-- Left column segment -->
              <div class="column">
                <div class="ui segment">
                  <div class="field">
                    <label>Product Name</label>
                    <input
                      id="input"
                      type="text"
                      name="name"
                      value="{{current_product['name']}}"
                      placeholder="Product Name"
                      readonly
                    />
                  </div>
                  <div class="field">
                    <label>Brand</label>
                    <input
                      id="input"
                      type="text"
                      name="brand"
                      value="{{current_product['brand']}}"
                      placeholder="Brand"
                      readonly
                    />
                  </div>
                  <div class="field">
                    <label>Description</label>
                    <textarea
                      id="input"
                      name="description"
                      placeholder="Description"
                      readonly
                    >
{{current_product['description']}}</textarea
                    >
                  </div>
                  <div class="field">
                    <label for="currency-field">Price</label>
                    <input
                      type="text"
                      name="price"
                      value="IDR {{current_product['price']}}"
                      id="currency"
                      placeholder="IDR"
                      readonly
                    />
                  </div>
                  <div class="field">
                    <label>Status</label>
                    <input
                      id="input"
                      type="text"
                      name="brand"
                      value="{{current_product['status']}}"
                      placeholder="Status"
                      readonly
                    />
                  </div>
                  <a href="/product-edit/{{current_product['products_id']}}">
                    <div
                      class="tiny ui animated button"
                      tabindex="0"
                      id="product-edit-button"
                    >
                      <div class="visible content">
                        <i class="pencil alternate icon"></i>
                      </div>
                      <div class="hidden content">Edit</div>
                    </div>
                  </a>
                </div>
              </div>

              <!-- Right column segment -->
              <div class="column">
                <div class="ui segment" id="right-segment">
                  <div class="field">
                    <label>Size & Stock</label>
                    {% for stock in products_stock %}
                    <div class="ui labeled input">
                      <div class="ui label">{{stock['size']}}</div>
                      <input
                        id="input"
                        type="text"
                        name="stock"
                        value="{{stock['stock']}}"
                        placeholder="Stock for size 36"
                        readonly
                      />
                    </div>
                    {% endfor %}
                  </div>
                  <a href="/stock-edit/{{current_product['products_id']}}">
                    <div
                      class="tiny ui animated button"
                      tabindex="0"
                      id="stock-edit-button"
                    >
                      <div class="visible content">
                        <i class="pencil alternate icon"></i>
                      </div>
                      <div class="hidden content">Edit</div>
                    </div>
                  </a>
                  <a href="/add-stocks/{{current_product['products_id']}}">
                    <div
                      class="tiny ui animated button"
                      tabindex="0"
                      id="stock-add-button"
                    >
                      <div class="visible content">
                        <i class="plus icon"></i>
                      </div>
                      <div class="hidden content">Add</div>
                    </div>
                  </a>
                </div>
              </div>

              <!-- Bottom column segment -->
              <div class="row">
                <div class="ui sixteen wide column">
                  <div class="ui segment" id="image-segment">
                    {% for image in products_image %}
                    <div class="ui medium image">
                      <img src="../{{image['image_url']}}" alt="">
                    </div>
                    {% endfor %}
                    <div
                    class="tiny ui animated button"
                    tabindex="0"
                    id="stock-edit-button"
                  >
                    <div class="visible content">
                      <i class="pencil alternate icon"></i>
                    </div>
                    <div class="hidden content">Edit</div>
                  </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Submit button -->
            </div>
          </form>
          <div class="row">
            <div class="ui sixteen wide column">
              <button class="ui animated button" id="delete">
                <div class="visible content">Delete This Products</div>
                <div class="hidden content">
                  <i class="trash alternate icon"></i>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form
      action="/delete-products/{{current_product['products_id']}}"
      method="POST"
      id="delete-form"
    ></form>

    <div class="ui mini modal">
      <div class="header">Are you sure you want to remove this product?</div>
      <div class="content">
        <div class="actions">
          <div class="ui deny button" id="nope">Nope</div>
          <a href="#" onclick="delForm()">
            <div class="ui positive right labeled icon button" id="yep">
              Yep, I am sure
              <i class="checkmark icon"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
<script>
  $(function () {
    $("#delete").click(function () {
      $(".ui.mini.modal").modal("show");
    });
  });

  function delForm() {
    document.getElementById("delete-form").submit();
  }
</script>
